#lab-main { margin: 0; }
#lab-main .field { margin-bottom: 6px; }
#lab-main .field label { display: block; clear: both; margin-bottom: 3px; }
#lab-main .field textarea { width: 100%; }
#lab-main .field input { width: 100%; }

#lab-main input[type=submit] { float: right; width: 85px; margin: 5px -4px 0 0;}
#lab-undo input[type=submit] { margin-left: -1px; }
