#lab-main { margin: 0; }
#lab-main .field { margin-bottom: 6px; }
#lab-main .field label { display: block; clear: both; margin-bottom: 3px; }
#lab-main .field textarea { width: 99%; }
#lab-main .field input { width: 100%; }

input[type=submit] { width: 85px; margin-top: 5px; }
#lab-main input[type=submit] { float: right; }
