.formtable tr td { padding: 3px; }

.formtable { line-height: 1.5; width: 100%; }
#errors { background: #AB2723; color: #ccc; }
.formtable td.label-r { text-align: right; }
.formtable tr.solo { text-align: center; }
.formtable tr.solo td { padding: 5px 0 0 0; }

.inner tr td { padding: 0; }

#id_title { width: 99%; }
#id_year { width: 99%; }
select { width: 100%; }
#id_language, #id_type { width: 25em; }
