@import url(/css/base.css);

div.wrapper { overflow: auto; width: 100%; margin-bottom:.5em; }
.wrapper div { float: right; }
.wrapper div.label { margin-right: .5em; }

form { margin-bottom: 0; }
input[type="submit"] { display: block; clear: both; margin: 0 auto 0 auto }

#personal { width: 50%; margin-left: auto; margin-right: auto; }
