#id_passwd_temp { margin: 0; }
/* Главная
#left-panel, #right-panel { height: auto; }
#right-panel { width: 14%; }
#right-panel #mail-form ul li.field input { width: 131px; }

 Список новостей
.toolbox li { height: auto; }
*/

/* Форма редактирования публикаций */
#pub-form { margin-right: 10px; }
#pub-form ul { overflow: hidden; }
#pub-form ul input, #pub-form ul select { position: relative; }
#pub-form ul .middle .control, #pub-form ul .middle .text-control { padding-right: 0; }
#pub-form #main-submit { position: relative; margin-right: -9px; }
