#formtable { vertical-align: middle; border-collapse: collapse; line-height:1.5; width: 100%; }
#errors { background: #AB2723; color: #ccc; }
#formtable td { padding: 5px; }
#formtable td.label { text-align: right; }
#formtable tr.solo { text-align: center; }
#formtable tr.solo td { padding: 5px 0 0 0; }
