.entry {
    clear: both; 
    font-size: 120%; 
    margin: 20px 0;
    padding: 5px;
}

.entry table { width: 100%; }

.entry .entry-title { 
    margin: 5px 0; 
}

.entry .entry-body {
    line-height: 1.5;
}

.toolbox li {
    height: 16px;
}

.toolbox li, .meta li { 
    margin: .25em 0;
}

.toolbox {
    clear: both;
    float: right;
    margin: 0 0 5px .75em;
    padding: 0 .5em;
    background-color: #eee;
}

.toolbox li a img {
    height: 16px;
    width: 16px;
}

.meta {
    float: right;
    margin: 0 0 5px .75em;
    padding: .75em;
    width: 10em;
    background-color: #eee;
}

.meta .author {
    font-size: .85em;
    color: #777;
}
