@import url(/css/base.css);
.entry { clear: both; }
.entry h3 { margin-bottom: 0; }

span.body * {
    margin-top: 0;
    margin-bottom: 0;
}
.toolbox {
    clear: both;
    float: right;
    margin: 0 0 .5em .75em;
    padding: 0 .5em 0 .5em;
    background-color: #eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     border-radius: 5px;
}
.toolbox li {
    margin: .25em 0;
}

.toolbox li img {
    border: 0;
    width: 16px;
    height: 16px;
}

.meta {
    float: right;
    margin: 0 0 .5em .75em;
    padding: .75em;
    width: 10em;
    background-color: #eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     border-radius: 5px;
}

.meta li {
    margin: .25em 0;
}

.meta .author {
    font-size: .85em;
    color: #777;
}

#add_form {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index:100;
    background: white;
}
