{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans 'Редактирование подразделения' %} {{ object }}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/labs/edit.css" media="all" />
{% endblock %}

{% block content %}
<form id="lab-main" action="{% url lab-edit lab_id %}" method="POST">{% csrf_token %}
{% for field in form %}
<div class="field">
    {{ field.label_tag }}
    {{ field }}
</div>
{% endfor %}
<input type="submit" value="{% trans 'Сохранить' %}" />
</form>
<form id="lab-undo" action="{% url lab-detail lab_id %}" method="POST">{% csrf_token %}
    <input type="submit" value="{% trans 'Отменить' %}" />
</form>
{% endblock content %}
