{% extends "base.html" %}
{% load i18n %}

{% block title%}
{% trans 'Лаборатории и сектора' %}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/lh.css" media="all" />
{% endblock %}

{% block content %}
<ul>
    {% for group in object_list %}
    <li>{{ group }}
        <ul>
            {% for lab in group.laboratory_set.all %}
            {% ifnotequal lab.number '0' %}
            <li><a href="{% url lab-detail lab.id %}/">{{ lab }}</a></li>
            {% endifnotequal %}
            {% endfor %}
        </ul>
        <br />
    </li>
    {% endfor %}
</ul>
{% endblock %}
