{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ object.title }}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/labs/detail.css" media="all" />
{% endblock %}

{% block content %}
{% with object as lab %}
<h3 class="center">{{ lab }}</h2>
<br />
<h4 class="center">{% trans 'Состав' %}</h4>
{% with lab.head.get_profile as head %}
<table id="staff">
    <tr>
        <th>Имя</th>
        <th>Должность</th>
        <th>Электронная почта</th>
    </tr>
    <tr>
        <td><a href="{% url iam-users %}{{ head.id }}">{{ head }}</a></td>
        <td class="center">
            {% trans 'заведующий' %} {{ lab.instrumental_case }}{% if head.post %}, {{ head.post }}{% endif %}
        </td>
        {% if head.user.email %}
        <td class="center"><a href="mailto:{{ head.user.email }}">{{ head.user.email }}</a></td>
        {% endif %}
    </tr>
    {% for user in lab.profile_set.all %}
    {% ifnotequal user.id head.id %}
    <tr>
        <td><a href="{% url iam-users %}{{ user.id }}">{{ user }}</a></td>
        <td class="center">
        {% if user.post %}
            {{ user.post }}
        {% endif %}
        </td>
        <td class="center">
        {% if head.user.email %}
            <a href="mailto:{{ user.user.email }}">{{ user.user.email }}</a>
        {% endif %}
        </td>
    </tr>
    {% endifnotequal %}
    {% endfor %}
</table>
{% endwith %}
<br />
{% ifequal lab.id user.profile.laboratory.id %}
    <form class="edit" action="{% url lab-edit lab.id %}">
        <input type="submit" value="{% trans 'Изменить данные' %}"/>
    </form>
{% endifequal %}
<span id="about">{{ lab.about|safe }}</span>

{% comment %}
{% trans 'Публикации:' %}<br />
<ul>
{% for pub in lab.publications.all %}
    <li>{{ pub }}</li>
{% endfor %}
</ul>
{% endcomment %}
{% endwith %}
{% endblock %}
