#content { line-height: 1.5; }

#personal { text-align: center; margin-bottom: 1em; }
#personal #name { margin: 0 auto; }

form { width: 14em; }
form.edit { float: right; }
form.solo-edit { clear: both; margin: 1em auto; }

#publications { clear: both; margin: 2em; margin-right: 0; }
#publications ol { list-style-type: decimal; }
#publications ol li { font-size: 100%; }
