#personal { text-align: center; margin-bottom: 1em; }
#personal #name { margin: 0 auto; }
#personal .solo { display: block; clear: both; }

ul.edit { clear: both; float: right; margin: 0 0 1.5em 1.5em; padding: .5em 1em; background-color: #dcebf7; }
ul.edit li { text-align: right; }
ul.edit li a { color: blue; }

#publications { clear: both; margin: 2em 0 2em 2em; }
#publications ol { list-style-type: decimal; }
