{% load i18n %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" media="screen" href="/css/form2.css" />
{% endblock %}

{% block content %}
<table id="login-form-wrap"><tr><td>
<form id="the-login-form" method="post" action="{% url iam-login %}">{% csrf_token %}
    <table id="formtable" border="1">
    {% for field in form %}
    <tr>
        <td class="label">{{ field.label_tag }}</td>
        <td>{{ field }}</td>
    </tr>
    {% endfor %}
    <tr class="solo">
        <td colspan="2"><input type="submit" value="{% trans 'Войти' %}" /></td>
    </tr>
    </table>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
</td></tr></table>
{% endblock %}
