{% load i18n %}

{% comment %} 
{% extends "base.html" %}

{% block title %}{% trans 'Вход для сотрудников' %}{% endblock %}
{% endcomment %}
{% block content %}
<table>
<tr><td>
<form method="post" action="{% url django.contrib.auth.views.login %}" style="margin-bottom:0">{% csrf_token %}
	    <table>
	{% for field in form %}
            <tr style="overflow:auto;width:100%;padding:.5em;"> 
            <td style="width:auto;text-align:right;"><!-- style="float:right;margin-right:.5em;"-->
                {{ field.label_tag }}
	        </td>
            <td><!-- style="float:right;"-->
                {{ field }}
            </td>
        </tr>		
    {% endfor %}
        </table>
	<table style="width:100%"><tr><td></td><td>
<input type="submit" value="{% trans 'Войти' %}" style="display:block;clear:both;margin: 0 auto 0 auto;" />
	</tr></td><td></td></table>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</td></tr>
</table>
{% endblock %}
