{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Вход для сотрудников' %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" media="screen" href="/css/login.css" />
{% endblock %}

{% block content %}
<table style="margin: 0 auto" id="login-form-wrap"><tr><td>
    {% if errors %}
    <ul><li style="text-align: center;" class="ui-state-error">{{ errors }}</li></ul>
    {% endif %}
<form id="modal" method="post" action="{% url iam-login %}">{% csrf_token %}
    <table id="formtable">
    {% for field in form %}
    <tr>
        <td class="label">{{ field.label_tag }}</td>
        <td>{{ field }}</td>
    </tr>
    {% endfor %}
    <tr class="solo">
        <td colspan="2"><input class="noresize" type="submit" value="{% trans 'Войти' %}" /></td>
    </tr>
    </table>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
</td></tr></table>
{% endblock %}
