#news-edit .field { margin-bottom: 6px; }
#news-edit .field label { display: block; clear: both; margin-bottom: 3px; }
#news-edit .field textarea, #news-edit .field input { width: 100%; }
#news-edit input[type="submit"] { display: block; clear: both; float: right; }
