form { margin: 0; }
form input[type="submit"] { display: block; clear: both; float: right; }

form .field label { display: block; clear: both; margin-bottom: 3px; }
form .field { margin-bottom: 6px; }

form .field textarea { width: 600px; }
form .field input { width: 600px; }
