#modal { margin: 0; }
#modal input[type="submit"] { display: block; clear: both; float: right; }

#modal .field label { display: block; clear: both; margin-bottom: 3px; }
#modal .field { margin-bottom: 6px; }

#modal .field textarea { width: 600px; }
#modal .field input { width: 600px; }
