{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" media="screen" href="/css/jquery.wysiwyg.css" />
<script type="text/javascript" language="javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="/js/jquery.wysiwyg.js"></script>
<script type="text/javascript">
$(document).ready(function(){
        $('textarea').wysiwyg();
        $('.wysiwyg').css('float', 'left');
        $('ul.panel').css('margin-left', '0');
        });
</script>
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
