{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Редактирование публикации' %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/form2.css" />
<link rel="stylesheet" type="text/css" href="/js/asmselect/jquery.asmselect.css" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="/js/asmselect/jquery.asmselect.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("select[multiple]").asmSelect({
            removeLabel: '{% trans 'убрать' %}'
        });
    }); 
</script>
{% endblock %}

{% block content %}

{% if errors|length %}
<div id="errors">
<ul>
{% for key, value in errors.items %}
    <li>{{ key }}: {{ value|slice:"2:" }}</li> {# First two characters are: '* ', tricky way (: #}
{% endfor %}
</ul>
</div>
{% endif %}

<form action={% if pub_id %}{% url publication-edit pub_id %}{% else %}{% url publication-add %}{% endif %} method="POST">{% csrf_token %}
    <table class="formtable">
        <tr>
            <td colspan="4">{{ form.title.label_tag }} {{ form.title }}</td>
        </tr>
        <tr>
            <td class="top">{{ form.authors.label_tag }} {{ form.authors }}</td>
            <td>
                <table class="formtable inner">
                    <tr><td>{{ form.language.label_tag }} {{ form.language }}</td></tr>
                    <tr><td>{{ form.type.label_tag }} {{ form.type }}</td></tr>
                    <tr><td>{{ form.year.label_tag }} {{ form.year }}</td></tr>
                </table>                    
            </td>
        </tr>
    <tr class="solo"><td colspan="4">
        <input type="submit" value="{% trans 'Сохранить' %}" /></td>
    </tr>
    </table>
</form>

<form action="{% url profile-detail user.profile.id %}" method="POST">{% csrf_token %}
    <input type="submit" value="{% trans 'Отменить' %}" />
</form>

{% if pub_id %}
<form action={% url publication-delete pub_id %} method="POST">{% csrf_token %}
    <input type="submit" value="{% trans 'Удалить' %}" />
</form>
{% endif %}
{% endblock content %}

