{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% if pub_id %}
{% trans 'Редактирование публикации' %}
{% else %}
{% trans 'Добавление публикации' %}
{% endif %}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/errors.css" />
<link rel="stylesheet" type="text/css" href="/css/publications/edit.css" />
<link rel="stylesheet" type="text/css" href="/js/asmselect/jquery.asmselect.css" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="/js/asmselect/jquery.asmselect.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("select[multiple]").asmSelect({
            removeLabel: '{% trans 'убрать' %}',
            {% if user.is_authenticated %}
            authorID: {{ user.profile.id }}
            {% endif %}
        });
    }); 
</script>
{% endblock %}

{% block content %}

{% if errors|length %}
<ul class="errors rounded">
{% for key, value in errors.items %}
    <li>{{ key }}: {{ value|slice:"2:" }}</li> {# First two characters are: '* ', tricky way (: #}
{% endfor %}
</ul>
{% endif %}

<form class="pform" id="pub-form" action={% if pub_id %}{% url publication-edit pub_id %}{% else %}{% url publication-add %}{% endif %} method="POST">{% csrf_token %}
    <ul>
        <li class="middle">
            {{ form.title.label_tag }}
            <div class="text-control">{{ form.title }}</div>
        </li>
        <li class="two-wrapper">
        <table>
            <tr>
                <td>
                    {{ form.authors.label_tag }}
                    <div class="text-control">{{ form.authors }}</div>
                </td>
                <td>
                    {{ form.language.label_tag }}
                    <div class="control">{{ form.language }}</div>
                    {{ form.type.label_tag }}
                    <div class="control">{{ form.type }}</div>
                    {{ form.year.label_tag }}
                    <div><div class="text-control">{{ form.year }}</div></div>
                </td>
            </tr>
            <tr>
                <td id="bottom-left">
                    {{ form.other_authors.label_tag }}
                    <div class="text-control">{{ form.other_authors }}</div>
                    {{ form.start_page.label_tag }}
                    <div class="text-control">{{ form.start_page }}</div>
                    {{ form.end_page.label_tag }}
                    <div class="text-control">{{ form.end_page }}</div>
                </td>
                <td>
                    {{ form.journal.label_tag }}
                    <div class="text-control">{{ form.journal }}</div>
                    {{ form.journal_issue.label_tag }}
                    <div class="text-control">{{ form.journal_issue }}</div>
                    {{ form.publishing_house.label_tag }}
                    <div class="text-control">{{ form.publishing_house }}</div>
                </td>
            </tr>
        </table>
        </li>
    </ul>
    <input id="main-submit" type="submit" value="{% trans 'Сохранить' %}" />
</form>

<form class="pform" action="{% url profile-detail user.profile.id %}" method="POST">{% csrf_token %}
    <input type="submit" value="{% trans 'Отменить' %}" />
</form>

{% if pub_id %}
<form class="pform" action={% url publication-delete pub_id %} method="POST">{% csrf_token %}
    <input type="submit" value="{% trans 'Удалить' %}" />
</form>
{% endif %}
{% endblock content %}

