{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Редактирование публикации' %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/form.css" media="all" />
{% endblock %}

{% block content %}

{% if errors|length %}
<div id="errors">
<ul>
{% for key, value in errors.items %}
    <li>{{ key }}: {{ value|slice:"2:" }}</li> {# First two characters are: '* ', tricky way (: #}
{% endfor %}
</ul>
</div>
{% endif %}

<form action={% if pub_id %}{% url publication-edit pub_id %}{% else %}{% url publication-add %}{% endif %} method="POST">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="{% trans 'Сохранить' %}" />
</form>
{% if pub_id %}
<form action={% url publication-delete pub_id %} method="POST">{% csrf_token %}
<input type="submit" value="{% trans 'Удалить' %}" />
</form>
{% endif %}
{% endblock content %}

