#pub-form ul, #pub-form .middle { width: 100%; }
#pub-form .left, #pub-form .right { width: 50%; float:left; }
#pub-form .middle .control, #pub-form .middle .text-control { padding-right: 5px; }
#pub-form .two-wrapper .text-control { padding-right: 5px; }

#pub-form label, #pub-form .control, #pub-form .text-control { padding-left: 5px; }
#pub-form label { display: block; clear: both; margin: 6px 0 3px 0; }

#pub-form .two-wrapper, #pub-form table { width: 100%; }
#pub-form table td { width: 50%; }
#pub-form td .control, td .text-control { margin-bottom: 5px; }

#pub-form select, #pub-form input[type=text] { width: 100%; margin: 0; }

.pform input[type=submit] { width: 85px; margin: 5px 0 0 4px }
#pub-form input[type=submit] { float: right; margin-left: 0; }

#pub-form #bottom-left .text-control { width: 350px; }

#pub-form #asmSelect0 { width: 354px; } /* see jquery.asmselect.css for width of selected entries */
