{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Добавление новости' %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" media="screen" href="/css/news/edit.css" />
{{ form.media }}
{% endblock stylesheet %}

{% block content %}

{% if errors|length %}
<ul class="errors rounded">
{% for key, value in errors.items %}
    <li>{{ key }}: {{ value|slice:"2:" }}</li> {# First two characters are: '* ', tricky way (: #}
{% endfor %}
</ul>
{% endif %}

<form id="news-edit" action="{% if news_id %}{% url news-edit news_id %}{% else %}{% url news-add %}{% endif %}" method="POST">{% csrf_token %}
{% for field in form %}
<div class="field">
    {{ field.label_tag }}
    {{ field }}
</div>
{% endfor %}
<input type="submit" value="{% trans 'Добавить' %}" />
</form>
{% endblock content %}
