{% load i18n %}

<style type="text/css">
#modal { margin: 0; }
#modal input[type="submit"] { display: block; clear: both; float: right; }

#modal .field label { display: block; clear: both; margin-bottom: 3px; }
#modal .field { margin-bottom: 6px; }

#modal .field textarea { width: 600px; }
#modal .field input { width: 600px; }
</style>

{% block content %}
{% if errors|length %}
<ul class="errors rounded">
{% for key, value in errors.items %}
    <li>{{ key }}: {{ value|slice:"2:" }}</li> {# First two characters are: '* ', tricky way (: #}
{% endfor %}
</ul>
{% endif %}

<table id="wrap"><tr><td>
<form id="modal" action="{% if news_id %}{% url news-edit news_id %}{% else %}{% url news-add %}{% endif %}" method="POST">{% csrf_token %}
{% for field in form %}
<div class="field">
    {{ field.label_tag }}
    {{ field }}
</div>
{% endfor %}
<input type="submit" value="{% trans 'Добавить' %}" />
</form>
</td></tr></table>
{% endblock content %}
