{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% trans 'ИПМ ДВО РАН' %} — {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
    <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/errors.css" />

    <script type="text/javascript" language="javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/jquery.corner.js"></script>
    <!--<script type="text/javascript" language="javascript" src="/js/jquery.form-2.43.js"></script-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/ie/IE9.js">IE7_PNG_SUFFIX=".png";</script>
    <![endif]-->
    <!--script type="text/javascript" language="javascript" src="/js/jquery-ui-1.8.2.custom.min.js"></script-->
    <script type="text/javascript" language="javascript" src="/js/jquery.wysiwyg.js"></script>
    <script type="text/javascript" language="javascript" src="/js/init.js"></script>
    {% block stylesheet %}
    {% endblock %}
    {% block script %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery.wysiwyg.css" />
    <!--link rel="stylesheet" type="text/css" media="screen" href="/css/redmond/jquery-ui-1.8.2.custom.css" /-->
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/ie67.css" />
    <![endif]-->
</head>

<body>
    <div id="main">
        <div id="header"><h1>{% trans 'Институт прикладной математики ДВО РАН' %}</h1></div>
        <div id="header-image" class="offset-left"></div>
        <div id="login-block" class="offset-left">
            {% if user.is_authenticated %}
            <span class="block center">
                {% trans 'Добро пожаловать' %},
                <br />
                <a href="{% url profile-detail user.get_profile.id %}">{{ user.first_name }} {{ user.get_profile.mid_name }}</a>
                <br />
            </span>
            <span class="block small right"><a href="/logout/?next={% url iam-root %}">{% trans 'выйти' %}</a></span>
            {% else %}
            <p>{% trans 'Вход' %}</p>
			<form action="{% url iam-login %}" method="post">{% csrf_token %}
                <input type="text" maxlength="30" name="username" id="id_username" value="{% trans 'Логин' %}"/>
                <input type="password" id="id_password" name="password" value="{% trans 'Пароль' %}"/>
                <input type="image" src="/img/icons/door_in.png" alt="Войти" />
                <input type="hidden" value="{{ request.path }}" name="next">
            </form>
            {% endif %}
		</div>
		<div id="menu-h"></div>
        <span id="content-wrapper">
            <div id="menu-v-wrapper" class="offset-left">
	            <ul id="menu-v">
                    <li><a href="{% url iam-news %}">{% trans 'Новости' %}</a>
                        {% if user.is_authenticated and request.path == '/news/' %}
                        <ul><li><a id="addnews" class="popup" href="{% url news-add %}">{% trans 'Добавить' %}</a></li></ul>
                        {% endif %}
                    </li>
                    <li><a href="/about/">{% trans 'Об институте' %}</a></li>
                    <li class="category"><span>{% trans 'Студентам' %}</span>
                        <ul>
                            <li><a href="/basic-chairs/">{% trans 'Базовые кафедры' %}</a></li>
                            <li><a href="/grad/">{% trans 'Аспирантура' %}</a></li>
                        </ul>
                    </li>
                    <li class="category"><span>{% trans 'Структура' %}</span>
                        <ul>
                            <li><a href="{% url iam-labs %}">{% trans 'Лаборатории и сектора' %}</a></li>
                            <li><a href="{% url iam-users %}">{% trans 'Сотрудники' %}</a></li>
                            <li><a href="{% url iam-users %}head/">{% trans 'Директор' %}</a></li>
                            <li><a class="out" href="http://www.iam.khv.ru/">{% trans 'Хабаровское отделение' %}</a></li>
                        </ul>
                    </li>
                    <li class="category"><span>{% trans 'Исследования' %}</span>
                        <ul>
                            <li><a href="/research/main/">{% trans 'Основные направления' %}</a></li>
                            <li><a href="/research/publications/">{% trans 'Научные сборники' %}</a></li>
                            <li><a href="/research/reports/">{% trans 'Отчёты' %}</a></li>
                        </ul>
                    </li>
                    <li><a class="out" href="/old/">Старый сайт</a></li>
                </ul>
            </div>
            <div id="content">
            {% block content %}
            {% endblock %}
            </div>
        </span>
        <div id="clearfooter"></div>
        <div id="footer">
            <p>
                © 2010 {% trans 'Институт прикладной математики' %}<br />
                {% trans 'Дальневосточное отделение Российской академии наук' %}<br />
            </p>
        </div>
    </div>
<!--        <div id="header">
            <h1>
            {% if request.path == '/' or request.path == '/news/' %}
            {% trans 'ИПМ' %}
            {% else %}
            <a href="{% url iam-root %}">{% trans 'ИПМ' %}</a>
            {% endif %}</h1>
        </div>
        <div id="title">
            <h1>{% trans 'Институт прикладной математики ДВО РАН' %}</h1>
        </div>
    
        <div id="content">
            <div id="primary-wrap">
                <div id="primary">
                </div>
            </div>
            <div id="secondary" class="rounded-right">
            </div>
        </div>
    
    <div id="dialog-form" class="dform"></div>
    <div id="dialog-form2" class="dform"></div>-->
    
    <!--ul id="right-panel">
        <li class="rounded-left">
        
        </li>
        <li class="rounded-left">
        <form id="mail-form" type="multipart/form-data" action="http://mail.iam.dvo.ru/" method="POST">{% csrf_token %}
            <span id="mail-enter" class="link block center bold">{% trans 'Вход в почту' %}</span>
            <ul id="mail-hidden">            
            <li class="field">
                <label>{% trans 'Логин' %}</label>
                <input name="Username" type=text>
            </li>
            <li class="field">
                <label>{% trans 'Пароль' %}</label>
                <input name="Password" type=password>
            </li>
            <li>
            <input name="login" type=submit value="{% trans 'Войти' %}">
            </li>
            </ul>
        </form>
        </li>
    </ul-->
</body>
</html>
