<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% trans 'ИПМ ДВО РАН' %} — {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
    <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/ui-lightness/jquery-ui-1.8.2.custom.css" />

    <script type="text/javascript" language="javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/jquery.corner.js"></script>
    <script type="text/javascript" language="javascript" src="/js/jquery.form-2.43.js"></script>

    <!--[if lt IE 7]>
    <script type="text/javascript" src="/js/ie/IE9.js">IE7_PNG_SUFFIX=".png";</script>
    <![endif]-->

    <script type="text/javascript" language="javascript" src="/js/jquery-ui-1.8.2.custom.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/jquery.wysiwyg.js"></script>
    <script type="text/javascript" language="javascript" src="/js/init.js"></script>
    {% block stylesheet %}
    {% endblock %}
    {% block script %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery.wysiwyg.css" />
    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/ie6.css" />
    <![endif]-->
</head>

<body>
    <div id="container">
    {% if request.path == '/' or request.path == '/news/' %}
    <h1 id="welcome">{% trans 'Институт прикладной математики ДВО РАН' %}</h1>
    {% else %}
    <h1 id="welcome"><a href="{% url iam-root %}">{% trans 'Институт прикладной математики ДВО РАН' %}</a></h1>
    {% endif %}

    
    <div id="sidebar">
	<ul class="menu-v">
        <li><a href="{% url iam-news %}">{% trans 'Новости' %}</a>
        {% if user.is_authenticated and request.path == '/news/' %}
            <ul><li><a id="addnews" class="popup" href="/news/add">{% trans 'Добавить' %}</a></li></ul>
        {% endif %}
        </li>
        <li><a href="/about/">{% trans 'Об институте' %}</a></li>
        <li><span class="category">{% trans 'Студентам' %}</span>
            <ul>
                <li><a href="/basic-chairs/">{% trans 'Базовые кафедры' %}</a></li>
                <li><a href="/grad/">{% trans 'Аспирантура' %}</a></li>
            </ul>
        </li>
        <li><span class="category">{% trans 'Структура' %}</span>
            <ul>
                <li><a href="{% url iam-labs %}">{% trans 'Лаборатории и сектора' %}</a></li>
                <li><a href="{% url iam-users %}">{% trans 'Сотрудники' %}</a></li>
                <li><a href="/head/">{% trans 'Директор' %}</a></li>
                <li><a class="out" href="http://www.iam.khv.ru/">{% trans 'Хабаровское отделение' %}</a></li>
            </ul>
        </li>
        <li><span class="category">{% trans 'Исследования' %}</span>
            <ul>
                <li><a href="/research/">{% trans 'Основные направления' %}</a></li>
            </ul>
        </li>
        <li><a class="out" href="/old/">Старый сайт</a></li>
    </ul></div>

    <div id="content-wrap">
        <div id="authorize">
        	{% if user.is_authenticated %}
                {% trans 'Добро пожаловать' %}, <a href="/users/{{ user.get_profile.id }}/">{{ user.first_name }} {{ user.get_profile.mid_name }}</a>
                (<a href="/logout/?next={% url iam-root %}">{% trans 'выйти' %}</a>)
            {% else %}
                <a id="login-caller" href="{% url iam-login %}#">{% trans 'Вход для сотрудников' %}</a>
            {% endif %}
        </div>
    	<div id="content">
    	{% block content %}
    	{% endblock %}
    	</div>
        <div id="dialog-form" class="dform"></div>
        <div id="dialog-form2" class="dform"></div>
    </div>
    <div class="clearfooter"></div></div>
    <div id="footer"><hr />
        © 2010 {% trans 'Институт прикладной математики' %}<br />
        {% trans 'Дальневосточное отделение Российской академии наук' %}<br />
        <div id="w3c">
            <a href="http://validator.w3.org/check?uri=referer"><img
               src="http://www.w3.org/Icons/valid-xhtml10"
               style="border:0;width:88px;height:31px;display:inline"
               alt="Valid XHTML 1.0 Transitional" /></a>
        </div>
        {% comment %}
                <img style="border:0;width:88px;height:31px;display:inline"
                     src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                     alt="Valid CSS!" /></a>
        {% endcomment %}
    </div>
</body>
</html>
