{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Редактирование личных данных' %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/users/edit.css" media="all" />
{% endblock %}

{% block content %}
{% if errors|length %}
<div id="errors">
<ul>
{% for key, value in errors.items %}
    <li>{{ key }}: {{ value|slice:"2:" }}</li> {# First two characters are: '* ', tricky way (: #}
{% endfor %}
</ul>
</div>
{% endif %}

<form action="{% url profile-edit user.get_profile.id %}" method="POST">{% csrf_token %}
{{ userformset.management_form }}
{% for profileform in userformset.forms %}

<div id="personal">
<table style="margin: 0 auto; width: 50%;"><tr><td>
<div class="wrapper">
    <div>{{ userform.username }}</div>
    {{ userform.username.label_tag }}
</div>
<div class="wrapper">
    <div>{{ userform.last_name }}</div>
    {{ userform.last_name.label_tag }}
</div>
<div class="wrapper">
    <div>{{ userform.first_name }}</div>
    {{ userform.first_name.label_tag }}
</div>
<div class="wrapper">
    <div>{{ profileform.mid_name }}</div>
    {{ profileform.mid_name.label_tag }}
</div>
<div class="wrapper">
    <div>{{ userform.email }}</div>
    {{ userform.email.label_tag }}
</div>
{% comment %}
<div class="wrapper">
    <div>{{ profileform.photo }}</div>
    <div class="label">{{ profileform.photo.label_tag }}</div>
</div>
{% endcomment %}
<hr />

{% for field in passwordform %}
<div class="wrapper">
    <div>{{ field }}</div>
    {{ field.label_tag }}
</div>
{% endfor %}
<hr />

<div class="wrapper">
    <div>{{ profileform.post }}</div>
    {{ profileform.post.label_tag }}
</div>
<div class="wrapper">
    <div>{{ profileform.academic_degree }}</div>
    {{ profileform.academic_degree.label_tag }}
</div>
<div class="wrapper">
    <div>{{ profileform.academic_rank }}</div>
    {{ profileform.academic_rank.label_tag }}
</div>
{% comment %}<div class="wrapper">
    <div>{{ profileform.laboratory }}</div>
    {{ profileform.laboratory.label_tag }}
</div>{% endcomment %}
<hr />
</td></tr></table>
<div class="wrapper">
    <span class="center-label">{{ profileform.about.label_tag }}</span>
    <div>{{ profileform.about }}</div>
</div>
</div>
{{ profileform.id }}
<div style="display: none">
    {{ profileform.laboratory }}
</div>

<input type="submit" value="{% trans 'Сохранить' %}" />
</form>
{% endfor %}
{% endblock content %}

