{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Редактирование личных данных' %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/lh.css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/errors.css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/users/edit.css" media="all" />
{% endblock %}

{% block content %}
{% if errors|length %}
<ul class="errors rounded">
{% for key, value in errors.items %}
    <li>{{ key }}: {{ value|slice:"2:" }}</li> {# First two characters are: '* ', tricky way (: #}
{% endfor %}
</ul>
{% endif %}

<form action="{% url profile-edit user.get_profile.id %}" method="POST">{% csrf_token %}
<div class="half">
{{ userformset.management_form }}
{% for profileform in userformset.forms %}

{% with userform.username as field %}
<div class="field">
    {{ field }}
    {% if field.field.required %}<strong>{{ field.label_tag }}</strong>{% else %}{{ field.label_tag }}{% endif %}
</div>
{% endwith %}
{% with userform.last_name as field %}
<div class="field">
    {{ field }}
    {% if field.field.required %}<strong>{{ field.label_tag }}</strong>{% else %}{{ field.label_tag }}{% endif %}
</div>
{% endwith %}
{% with userform.first_name as field %}
<div class="field">
    {{ field }}
    {% if field.field.required %}<strong>{{ field.label_tag }}</strong>{% else %}{{ field.label_tag }}{% endif %}
</div>
{% endwith %}
{% with profileform.mid_name as field %}
<div class="field">
    {{ field }}
    {% if field.field.required %}<strong>{{ field.label_tag }}</strong>{% else %}{{ field.label_tag }}{% endif %}
</div>
{% endwith %}
{% with userform.email as field %}
<div class="field">
    {{ field }}
    {% if field.field.required %}<strong>{{ field.label_tag }}</strong>{% else %}{{ field.label_tag }}{% endif %}
</div>
{% endwith %}
<br />

{% for field in passwordform %}
<div class="field">
    {{ field }}
    {% if field.field.required %}<strong>{{ field.label_tag }}</strong>{% else %}{{ field.label_tag }}{% endif %}
</div>
{% endfor %}
<br />

{% with profileform.post as field %}
<div class="field">
    {{ field }}
    {% if field.field.required %}<strong>{{ field.label_tag }}</strong>{% else %}{{ field.label_tag }}{% endif %}
</div>
{% endwith %}
{% with profileform.academic_degree as field %}
<div class="field">
    {{ field }}
    {% if field.field.required %}<strong>{{ field.label_tag }}</strong>{% else %}{{ field.label_tag }}{% endif %}
</div>
{% endwith %}
{% with profileform.academic_rank as field %}
<div class="field">
    {{ field }}
    {% if field.field.required %}<strong>{{ field.label_tag }}</strong>{% else %}{{ field.label_tag }}{% endif %}
</div>
{% endwith %}
</div>

{% with profileform.about as field %}
<div class="field">
    <span class="over">{% if field.field.required %}<strong>{{ field.label_tag }}</strong>{% else %}{{ field.label_tag }}{% endif %}</span>
    {{ field }}
</div>
{% endwith %}

{{ profileform.id }}
<div style="display: none">
    {{ profileform.laboratory }}
</div>

<input type="submit" value="{% trans 'Сохранить' %}" />
</form>
{% endfor %}
{% endblock content %}

{% comment %}
<div class="field">
    <div>{{ profileform.photo }}</div>
    <div class="label">{{ profileform.photo.label_tag }}</div>
</div>
<div class="field">
    <div>{{ profileform.laboratory }}</div>
    {{ profileform.laboratory.label_tag }}
</div>
{% endcomment %}

