{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Редактирование личных данных' %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/form.css" media="all" />
{% endblock %}

{% block content %}
{% if errors|length %}
<div id="errors">
<ul>
{% for key, value in errors.items %}
    <li>{{ key }}: {{ value|slice:"2:" }}</li> {# First two characters are: '* ', tricky way (: #}
{% endfor %}
</ul>
</div>
{% endif %}

<form action="{% url profile-edit user.get_profile.id %}" method="POST">{% csrf_token %}
{{ userformset.management_form }}
{% for profileform in userformset.forms %}

<div id="personal">
<div class="wrapper">
    <div>{{ userform.username }}</div>
    <div class="label">{{ userform.username.label_tag }}</div>
</div>
<div class="wrapper">
    <div>{{ userform.last_name }}</div>
    <div class="label">{{ userform.last_name.label_tag }}</div>
</div>
<div class="wrapper">
    <div>{{ userform.first_name }}</div>
    <div class="label">{{ userform.first_name.label_tag }}</div>
</div>
<div class="wrapper">
    <div>{{ profileform.mid_name }}</div>
    <div class="label">{{ profileform.mid_name.label_tag }}</div>
</div>
<div class="wrapper">
    <div>{{ userform.email }}</div>
    <div class="label">{{ userform.email.label_tag }}</div>
</div>
{% comment %}
<div class="wrapper">
    <div>{{ profileform.photo }}</div>
    <div class="label">{{ profileform.photo.label_tag }}</div>
</div>
{% endcomment %}
<hr />

{% for field in passwordform %}
<div class="wrapper">
    <div>{{ field }}</div>
    <div class="label">{{ field.label_tag }}</div>
</div>
{% endfor %}
<hr />

<div class="wrapper">
    <div>{{ profileform.post }}</div>
    <div class="label">{{ profileform.post.label_tag }}</div>
</div>
<div class="wrapper">
    <div>{{ profileform.academic_degree }}</div>
    <div class="label">{{ profileform.academic_degree.label_tag }}</div>
</div>
<div class="wrapper">
    <div>{{ profileform.academic_rank }}</div>
    <div class="label">{{ profileform.academic_rank.label_tag }}</div>
</div>
<div class="wrapper">
    <div>{{ profileform.laboratory }}</div>
    <div class="label">{{ profileform.laboratory.label_tag }}</div>
</div>
</div>
{{ profileform.id }}

<input type="submit" value="{% trans 'Сохранить' %}" />
</form>
{% endfor %}
{% endblock content %}

