{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ object }}{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/css/profile_detail.css" media="all" />
{% endblock stylesheet %}

{% block content %}
{% ifequal user.username object.user.username %}
<a href="./edit">{% trans 'Изменить данные' %}</a><br />
{% endifequal %}
<h3>{{ object }}</h3>
{{ object.academic_degree }} <br />
{{ object.user.email }}<br />
<a href="{% url iam-labs %}/{{ object.laboratory.id }}">{{ object.laboratory }}</a><br />
{% ifnotequal object.publications.all|length 0 %}
    {% trans 'Публикации:' %}
    <ul>
    {% for pub in object.publications.all %}
        <li>{{ pub }}</li>
    {% endfor %}
    </ul>
{% endifnotequal %}
{% endblock %}
